:root {
    --background: #272a31;
    --textColor: #ec5242;
    --others: #d3d3d3;
  }
  
  @font-face {
    font-family: 'COCOGOOSE';
    src: url("../assets/fonts/cocogoose_pro-trial.ttf"), url("../assets/fonts/cocogoose_pro_semilight-trial.ttf");
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Lato', sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  

  .nav-item-a {
    color: var(--others);
  }
  
  .nav-item-a:hover {
    color: wheat;
  }
  
  .nav-2-container {
    margin-top: 0;
  }
  
  .nav-item-a-2 {
    font-size: 14px;
  }
  
  .ham-menu {
    font-size: 40px;
    color: var(--background);
  }
  
  .heading {
    background-image: url("../images/Pattern-Randomized.svg");
    background-size: cover;
  }
  
  .main-title {
    color: var(--textColor);
    font-size: 3.5rem;
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: bolder;
  }
  
  .event-des {
    margin: 5rem auto;
    border: 2px solid white;
    border-color: rgb(243, 243, 243);
    background-color: #fff;
    width: 80%;
    font-size: 12px;
  }
  
  .contact-mail {
    margin: 5rem auto;
    width: 100%;
  }
  
  .date {
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 2rem;
  }
  
  .main-program {
    text-align: center;
    color: var(--background);
    background-color: white;
  }
  
  .main-program-line {
    border: 1px solid var(--textColor);
    width: 2rem;
    margin: 0 auto;
  }
  

  
  
 
  
  .programs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--others);
  }
  
  .event {
    width: 19%;
    padding: 0.7rem;
    height: 14rem;
    line-height: 1.1;
  }
  
  .program-title {
    font-size: 1.2rem;
    color: var(--textColor);
  }
  
  .icon {
    width: 2rem;
    height: 2rem;
    padding-top: 12px;
  }
  
  .tkt {
    color: #fff;
  }
  
  .tkt:hover {
    color: aqua;
    text-decoration: none;
  }
  
  .title h3 {
    text-align: center;
  }
  
  .sp-bg {
    background-image: url('../images/blank.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 5rem 5rem;
  }
  
  .feature {
    text-align: center;
  }
  
  .bands-hr {
    width: 10%;
  }
  
  .partner {
    background-color: var(--background);
  }
  
  .partners {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    align-items: end;
    color: var(--others);
    flex-wrap: wrap;
  }
  
  .partner-list {
    width: 23%;
    margin: 0.08rem auto;
    align-content: flex-end;
  }
  
  footer {
    background-color: white
  }
  
  .footer-content {
    display: flex;
  }
  
  @media only screen and (max-width: 768px) {
    .nav-1 {
      display: none;
    }
  
    .ph-display {
      display: none;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .lead {
      min-width: 75%;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .heading {
      padding-top: 2rem;
    }
  
    .sub-title {
      font-size: x-large;
      color: #ec5242;
    }
  
    .main-title {
      font-size: x-large;
    }
  
    .nav-2-container {
      background: url('../images/Pattern-Randomized.svg') bottom !important;
      background-size: cover !important;
    }
  
    .title-main {
      font-size: 2.5rem;
    }
  
    .lead {
      min-width: 100%;
      line-height: 1.7;
      font-size: 1rem;
    }
  
    .date {
      font-size: 1.2rem;
    }
  
    .location {
      font-size: 1rem;
    }
  
    .pasteve {
      width: 100%;
      height: 15rem;
    }
  
    .event {
      display: flex;
      align-items: center;
      text-align: left;
      height: auto;
      width: 100%;
      margin: 6px auto;
      padding: 1rem;
    }
  
    .program-title {
      font-size: 1em;
      overflow-wrap: break-word;
    }
  
    .program-detail-par {
      font-size: medium;
    }
  
    .about-past-symposium {
      flex-direction: column;
    }
  
    .partner-list {
      width: 45%;
      color: #fff;
    }
  
    footer {
    
      color: #272a31;
    }
  
    .footer-img {
      width: 300px;
      height: 50px;
    }
  }
  