.mySlides {
    display:none;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  .container {
    position: relative;
    font-family: Arial;
  }
  .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }